body {
    background: #EEE;
}
.main-wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card-folder {
    padding: 0.5rem;
    box-sizing: border-box;
    width: 14.5rem;
    height: 16rem;
    float: left;
    margin: 0 0.5rem 0.5rem 0;
    background: #FFF0BF;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    text-decoration: none;
    color: initial;
}
.card-file {
    background: #FFF;
}

.card-folder:hover {
    text-decoration: none;
    color: initial;
}
.card-folder .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-folder .card-body {
    padding: 0;
}
.card-folder .card-body-main-image-wrapper {
    text-align: center;
    line-height: 15rem;
}

.preview-thumb-wrapper {
    width: 6rem;
    height: 6rem;
    float: left;
    border: 1px solid #CCC;
    
    text-align: center;
    line-height: 100px;
    
    padding: 0.2rem;
    margin: 0 0.5rem 0.5rem 0;
    background: #EEE;
    box-sizing: border-box;
}

.preview-thumb-wrapper i {
    font-size: 4rem;
    vertical-align: middle;
}

.preview-thumb-wrapper img {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border-radius: 2px;
}

.card-folder .main-image {
    max-width: 100%;
    max-height: 100%;
}
