body {
    background: #EEE;
}
.main-wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.fa-folder { 
    color: #FBD579;
}

.card-folder {
    padding: 0.5rem;
    box-sizing: border-box;
    width: 14.5rem;
    height: 16rem;
    float: left;
    margin: 0 0.5rem 0.5rem 0;
    xbackground: #FFF0BF;
    xbox-shadow: 0 0 5px rgba(0,0,0,0.3);
    text-decoration: none;
    color: initial;
}

.card-folder:hover {
    text-decoration: none;
    color: initial;
}
.card-folder .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-folder .card-body {
    padding: 0;
}
.card-folder .card-body-main-image-wrapper {
    text-align: center;
    line-height: 15rem;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.preview-thumb-wrapper {
    width: 6rem;
    height: 6rem;
    float: left;
    
    text-align: center;
    line-height: 6rem;
    
    padding: 0rem;
    margin: 0 0.5rem 0.5rem 0;
    /* xborder: 1px solid #CCC; */
    background: #f5f6f7;
    box-sizing: border-box;
}

.preview-thumb-wrapper i {
    font-size: 4rem;
    vertical-align: middle;
}

.preview-thumb-wrapper video,
.preview-thumb-wrapper img {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    /* vertical-align: top; */
    border-radius: 2px;
    xbackground: #EEE;
}
.preview-thumb-wrapper video {
    background: #333;
}

.card-folder .main-image {
    max-width: 100%;
    max-height: 100%;
    background: #EEE;
    padding: 2px;
}

.card-folder video.main-image {
    background: #333;
}